<div class="container mt-5">
  <!-- Search form -->
  <%= render 'search-bar' %>
  <hr>
  <div class="form-inline">
    <input class="form-control mr-sm-2 datepicker" name="query" type="search" placeholder="Date" aria-label="Search" value="<%= params[:query] %>">
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Type de lieu</option>
        <option>salon</option>
        <option>loft</option>
        <option>jardin</option>
        <option>terrasse</option>
        <option>grange</option>
        <option>bureau</option>
      </select>
    </div><br>

    <div class="form-group pl-2">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Nombre de personnes</option>
        <option>0-15 personnes</option>
        <option>15-30 personnes</option>
        <option>30+</option>
      </select>
    </div>

    <div class="form-group pl-2">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Equipements</option>
        <option>piano droit</option>
        <option>piano à queue</option>
        <option>ascenseur</option>
        <option>arrivée électrique</option>
        <option>chaises pliantes</option>
        <option>chaises fixes</option>
        <option>coussins</option>
        <option>table</option>
        <option>verres</option>
        <option>cafetière</option>
        <option>bouilloiree</option>
        <option>réfrigérateure</option>
      </select>
    </div>

    <div class="form-group pl-2">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Type d'évènement</option>
        <option>tous concerts</option>
        <option>événements classique</option>
        <option>événements folk</option>
        <option>événements jazz</option>
        <option>événements pop/rock</option>
        <option>lectures</option>
        <option>événements festifs</option>
      </select>
    </div>
</div>
 <hr>


<div class="flat-cards name-flat">
  <div class="card-trip">
    <% @spaces.each do |space| %>
      <%= cl_image_tag space.photo.url %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to space.name %></h2>
          <p><%= space.description %></p>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/alexandrechupin" class="card-trip-user avatar-bordered" />
      </div>
    <% end %>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Appartement dans le 8ème</h2>
        <p>Lorem ipsum dolor sit amet...</p>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/sarahgcd" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Grand appartement dans le marais</h2>
        <p>Lorem ipsum dolor sit amet...</p>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Grand loft dans le 2ème</h2>
        <p>Lorem ipsum dolor sit amet...</p>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Loft dans le 17ème</h2>
        <p>Lorem ipsum dolor sit amet...</p>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Appartement dans le 1er</h2>
        <p>Lorem ipsum dolor sit amet...</p>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>



