<div class="container mt-3 col-6">

  <h2> Proposez votre lieu ici </h2>

  <%= simple_form_for(@space) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :zipcode %>
    <%= f.input :equipment %>
    <%= f.input :event_type, collection: Space::EVENTTYPE %>
    <%= f.input :place_type, collection: Space::SPACETYPE %>
    <%= f.input :capacity %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "J'enregistre mon lieu", class: "btn btn-success" %>
  <% end %>
</div>
