<div class="main_content">
  <div class="space_image col-md-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @space.photo %>)">
    <div id="main_title">
      <%= @space.name %>
    </div>
  </div>

  <div class="container">
    <div class ="row space_actions my-3">


      <div class ="space_details col-md-7">

        <div class="space_precisions">
          <div class="space-header">
            <h3>À propos de ce lieu</h3>
            <ul class="list-inline">
            <li class="list-inline-item"><i class="fas fa-map-marker-alt"></i> <%= @space.city + ", " + @space.zipcode.to_s  %></li>
            <li class="list-inline-item"><i class="fas fa-users"></i> <%= @space.capacity %></li>
            </ul>
          </div>

          <div class="details">
            <h4>Description</h4>
            <p><%= @space.description %></p>
          </div>

          <div class="details">
            <h4>Type d'événements acceptés</h4>
            <p><%= @space.event_type %></p>
          </div>

          <div class="details">
            <h4>Equipements mis à disposition</h4>
            <ul class="list-inline">
              <% @space.equipment.each do |element| %>
              <li class="list-inline-item"><%= element %></li>
              <% end %>
            </ul>
          </div>

          <div class="details">
            <h4>Politique d'annulation</h4>
            <p><%= @space.policy %></p>
          </div>
        </div>


        <div>
          <div class="space-header">
            <h3>À propos de l'hôte</h3>
          </div>
          <div class="row space-user justify-content-between">
            <div class="column-third">
               <%= cl_image_tag @space.user.photo.url, class:"avatar-large" %>
            </div>
            <div class="user-details column-two-thirds">
              <h4> <%= @space.user.first_name %> <%= @space.user.last_name %> </h4>
              <p><%= @space.user.description %></p>
            </div>
          </div>
        </div>

        <div id="space_link">
          <p> <%= link_to 'Retour à la sélection', spaces_path, class: "btn btn-dark" %> </p>
        </div>

      </div>



      <% unless @space.user == current_user %>

        <div class = "space-booking col-md-5">

          <h3>Réservez maintenant</h3>

          <% unless user_signed_in? %>
            <p>You must be logged in to book this space!</p>
            <%= link_to "Login", new_user_session_path, class: "btn btn-dark" %>
          <% else %>
            <%= simple_form_for [@space, @booking] do |f| %>
              <div class="booking_details">
                <%= f.input :event_type, label: "Quel type d'événement souhaitez-vous organiser ?", collection: Space::EVENTTYPE %>
              </div>
              <div class="booking_details">
                <%= f.input :description, label: "Décrivez quel est votre projet ?" %>
              </div>
              <div class="booking_details">
                <%= f.input :date, as: :date, label: "Quand aura lieu l'événement ? " %>
              </div>
              <div class="booking_details">
                <%= f.input :time, as: :time, label: "A partir de quelle heure souhaitez-vous disposer du lieu ?" %>
              </div>
              <div class="booking_details">
                <%= f.input :duration, label: "Quelle serait la durée de l'événement ?" %>
              </div>
              <div class="booking_details">
                <%= f.input :number_of_guests, label: "Quel nombre d'invités souhaitez-vous convier ?" %>
              </div>
              <%= f.submit "Je réserve cet espace", class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>


        <% else %>

          <div class="space-booking col-md-5">

              <h3>Ceci est un de vos espaces.</h3>
            <br>
            <%= link_to 'Modifier cette annonce', edit_space_path(@space), class: "btn btn-secondary" %>
            <br>
            <br>
            <%= link_to 'Retirer cette annonce', space_path(@space), method: :delete, data: { confirm: "Êtes-vous certains de vouloir supprimer cet espace ?" } , class: "btn btn-danger" %>

          </div>

      <% end %>


    </div>
  </div>
</div>
