<div class="main_content">
  <div class="space_photo col-md-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @space.photo %>)">
  </div>

  <div class ="space_actions col-md-12 d-flex mt-3">
    <div class = "space_details col-md-5">
      <p><%= @space.name  %></p>
      <p> <%= @space.address  %></p>
      <p> <%= @space.equipment  %></p>
      <p> <%= @space.description %> </p>
      <p> <%= @space.policy %></p>
      <p> <%= link_to 'Back to list', spaces_path %> </p>
    </div>
    <div class = "space_booking col-md-5">
      <p>Book your flat!</p>
      <% unless user_signed_in? %>
        <p>You must be logged in to book this space!</p>
        <%= link_to "Login", new_user_session_path, class: "btn btn-dark" %>
      <% else %>
        <%= simple_form_for [@space, @booking] do |f| %>
          <%= f.input :event_type, label: "Type d'événement", collection: Space::EVENTTYPE %>
          <%= f.input :date, as: :date, label: "Date" %>
          <%= f.input :time, as: :time, label: "Heure" %>
          <%= f.input :duration, label: "Durée en heures" %>
          <%= f.input :description, label: "Description" %>
          <%= f.input :number_of_guests, label: "Nombre d'invités" %>
          <%= f.submit "Je réserve cet espace", class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
